<html lang=en>
<head>
   
    <title>TE-model simulations results</title>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='resources/style.css') }}" />
    <!--<link rel="stylesheet" href="css/lightbox.css">-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="/resources/favicon.ico" />

    <link rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
        integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" 
        crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" 
        integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" 
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" 
        integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" 
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" 
        integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" 
        crossorigin="anonymous"></script>

    <!--<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    -->
    <script src="{{ url_for('static', filename='js-scripts/my_functions.js') }}"></script> 
	<!--<script src="js-scripts/batches_comparison.js"></script>
	<script src="js/jquery-1.11.0.min.js"></script>
    <script src="js/lightbox.js"></script> -->
</head>
<body>
    <div class="container">
    
        
        <div class="jumbotron">
    <h1>TE MODEL</h1>      
    <p> Proliferation of transposable elements in sexual populations - <br>
- computational simulations results </p>
    </div>
    </div>
{% block content %}
{% endblock %}
</body>
</html>
