{% extends "base.html" %}
{% block content %}
<div class="container">
<div id="test">test</div>
<form action="foo">
  <input type="checkbox" class="foo">
  <div class="inputs">
    bla blah inputs
    <input type="text">
    <textarea name="" id="" cols="30" rows="10"></textarea>
  </div>
</form>
<form method="POST">
    {% for params_row in params_general %}
    <div class="row">
        {% for param in params_row %}
        <div class="col-sm-4">
            <div class="form-group">
            <label>{{param.replace('_',' ').capitalize()}}</label>
            <input type="text" class="form-control" id="{{param}}" name="{{param}}" placeholder="e.g. 1000">
            </div>
        </div>
        {% endfor %}
    </div>
    {% endfor %}
    {% if not params_TE %}
    <div class="row">
        <div class="col-sm-4">
                <input type="checkbox" class="foo form-check-input"
                id="TEparams" onchange="showDIV('TE-params-set')" >
        </div>
        <div id="TE-params-set">
                bla blah inputs
                <div class="form-group">
                <label>Label</label>
                <input type="text" class="form-control" id="{{param}}" name="{{param}}" placeholder="e.g. 1000">
                </div>
            
        </div>
    </div>
    {% for params_row in params_TE %}
    <div class="row">
        {% for param in params_row %}
        <div class="col-sm-4">
            <div class="form-group">
            <label>{{param.replace('_',' ').capitalize()}}</label>
            <input type="text" class="form-control" id="{{param}}" name="{{param}}" placeholder="e.g. 1000">
            </div>
        </div>
        {% endfor %}
    </div>
    {% endfor %}
    {% endif %}
<button type="submit" class="btn btn-primary">Submit</button>
</form> 

<h2> Latest tasks </h2>
<table class = "table table-hover">
  <thead>
    <tr>
    {% for name in names %} 
      <th> {{name.replace('_',' ').capitalize()}} </th>
    {% endfor %}    
    </tr>
  </thead>
  {% for task in tasks_list %}
  <tbody>
    <tr> 
    {% for val in task.values() %}
      <td> {{val}} </td>
    {% endfor %}
      <td> <a href="results/{{task.id}}">See results</a></td>
    </tr>
  {% endfor %}
  </tbody>
</table>

</div>
{% endblock %}
