{% extends "base.html" %}
{% block content %}
<div class="container">
</div> 
<div class="container">
<form method="POST">
    {% for params_row in params_general %}
    <div class="row">
        {% for param in params_row %}
        <div class="col-sm-4">
            <div class="form-group">
                <label data-toggle="tooltip" title="{{param.desc}}">
                    {{param.name.replace('_',' ').capitalize()}} <b> ? </b> </label>
                <input  type="text" class="form-control" 
                        id="{{param.name}}" name="{{param.name}}"
                        placeholder="e.g. {{param.default}}">
            </div>
        </div>
        {% endfor %}
    </div>
    {% endfor %}
    {% if params_TE %}
    <div class="row">
        <div class="col-sm-4">
            <div class="form-check">
                <label class="form-check-label">
                <input type="checkbox" class="foo form-check-input"
                id="TEparams" onchange="showDIV('TE-params-set')" >
                Enable transposable elements dynamics
                </label>
            </div>
        </div>
    </div>
    <div id="TE-params-set" style="display: none">
    {% for params_row in params_TE %}
    <div class="row">
        {% for param in params_row %}
         <div class="col-sm-4">
            <div class="form-group">
                <label data-toggle="tooltip" title="{{param.desc}}">
                    {{param.name.replace('_',' ').capitalize()}} <span class="glyphicon glyphicon-exclamation-sign"></span> </label>
                <input type="text" class="form-control" id="{{param.name}}" 
                    name="{{param.name}}"  placeholder="e.g.{{param.default}}">
            </div>
        </div>
        {% endfor %}
    </div>
    {% endfor %}
    </div>
    {% endif %}
<button type="submit" class="btn btn-primary">Submit</button>
</form> 
</div>

<h2> Latest tasks </h2>
<table class = "table table-hover table-condensed">
  <thead>
    <tr>
    {% for name in names %} 
      <th> {{name.replace('_',' ').capitalize()}} </th>
    {% endfor %}    
    </tr>
  </thead>
  {% for task in tasks_list %}
  <tbody>
    <tr> 
    {% for val in task %}
      <td> {{val}} </td>
    {% endfor %}
    <td> <a href="results/{{task[0]}}">See results</a></td>
    </tr>
  {% endfor %}
  </tbody>
</table>

{% endblock %}
